{% extends 'base.html.twig' %}

{% block title %}Moviz
{% endblock %}

{% block body %}

  <h2>Les derniers films ajoutés</h2>
	<div class="row text-center">
		{% for movie in movies %}
			{% include "partials/movie/_movie_block.html.twig" %}
		{% endfor %}
	</div>

{% endblock %}
